# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\TAI_LIEU_HOC_TAP\Trainer_ORM_FPT\THI_FINAL_ORM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
